<div id="banner">
  <h1>Feirinha Nakombi</h1>
    <h2>Produtos fresquinhos, direto do produtor, na sua casa</h2>
    <p class="btn btn-success" ><%= link_to "Entre aqui!", products_path, class: "text-button" %></p>
</div>
