<div id="carouselExampleCaptions" class="carousel slide w-50 mb-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner w-100">
    <div class="carousel-item active">
      <%= image_tag "carrotsBundle.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Produtos fresquinhos</h5>
        <p>Escolha os melhores hortifrutis, direto do produtor.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "localProducer.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Produtores locais</h5>
        <p>Na nossa feirinha, você fortalece o produtor local.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "tableDinner.jpg", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Direto da horta</h5>
        <p>Os produtos são tão frescos que você vai pensar que os colheu!</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
