#banner{
  text-align: center;
  background-image: url("feirinhaBanner.jpg");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 20px;
}

#banner h1 {
  color: white;
  font-size: 50px;
}

#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

#banner .btn {
  border-radius: 5px;
  background: #206a5d;
}
