<div class="container mb-5">
  <h1 class="text-center">Editiando <%= @product.name %></h1>
  <%= render 'form', product: @product %>
</div>

<div class="container mb-5 w-25">
  <%= link_to 'Voltar', products_path, class: "btn btn-primary" %>
</div>
